{% if field.value is iterable and field.value|length > 0 %}
    <ul>
        {% for item in field.value %}
            {% if item is iterable %}
                <li>{{ item|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}</li>
            {% else %}
                <li>{{ item }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <span class="badge bg-secondary">Aucune donnée</span>
{% endif %}
