{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Music Quiz – Tableau de bord{% endblock %}

{% block main %}
    <div class="text-center mt-5">
        <h1>🎵 Bienvenue dans l’admin de ton quiz musique !</h1>
        <p class="lead">Utilise le menu à gauche pour gérer les artistes et les questions.</p>
    </div>
{% endblock %}