{# templates/quiz/index.html.twig #}

<h1>Quiz</h1>

{% for question in questions %}
    <div class="question">
        <p><strong>{{ loop.index }}. {{ question.text }}</strong></p>
        
        {# Mélange les réponses pour ne pas toujours avoir la bonne en premier #}
        {% set answers = [question.correctAnswer, question.wrongAnswer1, question.wrongAnswer2, question.wrongAnswer3]|shuffle %}
        
        <ul>
        {% for answer in answers %}
            <li>{{ answer }}</li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
