{% if field.value is iterable and field.value is not empty %}
    <ul>
        {% for k, v in field.value %}
            {% if v is iterable and v.name is defined %}
                {# Pour members #}
                <li>
                    {{ v.name|default('—') }}
                    {% if v.instruments is defined and v.instruments is iterable and v.instruments|length > 0 %}
                        ({{ v.instruments|join(', ') }})
                    {% endif %}
                </li>
            {% else %}
                {# Pour albums, subGenres ou lifeSpan #}
                <li>
                    <strong>{{ k|capitalize }}:</strong> {{ v }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    —
{% endif %}
